
body {
  width: 70%;
  margin: 0 auto;
}
.donor__container {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  background: white;
  color: black;
  border-bottom: medium solid black;
}

/* .donor__name {
  color: whitesmoke;
} */

.specie__name{
  color: brown;
}

.donor__container:first-child {
  border-bottom: medium solid goldenrod;
}
 .donor__container:nth-of-type(2) {
  border-bottom: medium solid silver;
 }
 .donor__container:nth-of-type(3) {
  border-bottom: medium solid tan;
 }

 .donor__container:hover {
   background: #ededed;
   color: black;
 }

.donor__profile {
  display:flex ;
  align-items: center;
  justify-self: flex-start;
  gap: 10px;
}

.specie__name::before {
  content: "Specie: ";
}
.specie__name{
  margin-top: -20px;
}

.image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.donation__container {
 display: block;
 justify-content: center;
 margin-left: auto ;
 margin-right: 50px;
 height: auto;
 margin-top: -20px;
}


.percentage {
  font-size: 36px;
  text-align: center;
  color: darkgrey;
}

.percentage::after{
  content: "%";
}

.amounts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -50px;
  font-style:oblique;
  color: white;
}

.amounts__text::before {
  content: "$";
}


.of__text {
    margin: 0 -5px;
    color: black;
}


.goal__amount {
  color: brown;
}

.header {
  color: #413C58;
}

.current__amount{
  font-weight: 900;
  color: green;
}