
body {
  width: 70%;
  margin: 0 auto;
}
.donor__container {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  height: 20px;
  padding: 10px;
  margin: 0 auto;
  margin: 10px auto;
  /* border-radius: 5px; */
  background: black;
  color: skyblue;
  border-bottom: thin solid black;
}

.donor__name {
  font-size: 1rem;
}

.donor__container:first-child {
  border-bottom: thick solid #fdd017;
  box-shadow: 0px 5px 8px 0px black;
}


 .donor__container:nth-of-type(2) {
  border-bottom: thick solid #a9acb6;
  box-shadow: 0px 3px 6px 0px black;
 }
 .donor__container:nth-of-type(3) {
  border-bottom: thick solid #b87333;
  box-shadow: 0px 1px 3px 0px black;
 }

 .donor__container:hover {
   background: #ededed;
 }

.donor__profile {
  display:flex ;
  align-items: center;
  justify-self: flex-start;
  gap: 10px;
}

.specie__name::before {
  content: "Specie: ";
}
.specie__name {
  color: darkgray;
  font-size: 10px;
  margin-top: -15px;
}

.image {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid skyblue;
}

.donation__container {
 display: block;
 justify-content: center;
 height: auto;
 margin: -30px 20px 10px auto;
}


.percentage {
  font-size: 24px;
  text-align: center;
  color: darkgray;
}

.percentage::after{
  content: "%";
}

.amounts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -35px;
  font-style:oblique;
  color: skyblue;
  font-size: 11px;
}

.amounts__text::before {
  content: "$";
}


.of__text {
    margin: 0 -5px;
    font-weight: 600;
    color: grey;
}


.goal__amount {
  color: grey;
  font-weight: 800;
}

.header {
  color: #413C58;
}

.current__amount{
  font-weight: 900;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}